/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 700 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*para que el padding y margin no afecten el tamaño del elemento*/
  font-family: "Times New Roman", Times, serif; /*fuente de letra*/
  list-style: none; /*remueve los puntos de la lista*/
  text-decoration: none; /*remueve el subrayado de los links*/
  color: white;
}

body {
  background-color: #1a1a1a; /*todo: cambiar color de fondo*/
}

header {
  position: fixed; /*para que el header se quede fijo en la parte superior de la pantalla*/
  right: 0;
  top: 0;
  z-index: 100; /*para que el header esté por encima de todo*/
  width: 100%; /*para que el header ocupe todo el ancho de la pantalla*/
  display: flex; /*para que los elementos del header se acomoden en fila*/
  align-items: center; /*para que los elementos del header se acomoden en el centro verticalmente*/
  justify-content: space-between; /*para que los elementos del header se acomoden en los extremos*/
  padding: 15px 3%; /*para que el header tenga un padding de 15px arriba y abajo y 3% a los lados*/
  background-color: transparent; /*para que el header sea transparente*/
}

.logo {
  font-size: 30px; /*tamaño de la letra*/
  font-weight: 800; /*grosor de la letra*/
}

.navlist {
  display: flex; /*para que los elementos del nav se acomoden en fila*/
}

.navlist a {
  margin-left: 60px; /*para que los elementos del nav tengan un margen a la izquierda de 60px*/
  font-size: 15px; /*tamaño de la letra*/
  font-weight: 600; /*grosor de la letra*/
  border-bottom: 2px solid transparent; /*para que los elementos del nav tengan un borde de 2px abajo transparente*/
  transition: all 0.5s ease; /*para que la transición de los elementos del nav sea de 0.5s*/
}

.navlist a:hover {
  border-bottom: 2px solid white; /*para que los elementos del nav tengan un borde de 2px abajo blanco al pasar el mouse*/
}

/*#menu-icon {
  display: none; para que el icono del menú no se muestre

}*/

#menu-icon {
  font-size: 35px;
  z-index: 101; /*para que el icono del menú esté por encima del header*/
  cursor: pointer;
}

#menu-toggle {
  display: none; /*para que el checkbox nunca se muestre*/
}

.menu-icon-action {
  display: none; /*para que el icono del menú no se muestre*/
}

/* INVENTO*/
.hero {
  height: 100%; /*para que el hero ocupe todo el alto de la pantalla*/
  width: 100%; /*para que el hero ocupe todo el ancho de la pantalla*/
  min-height: 100vh; /*para que el hero ocupe mínimo el 100% del alto de la pantalla*/
  background: linear-gradient(
    245.59deg,
    #31494e 0%,
    #385e70 25%,
    #131313 75%
  ); /*para que el hero tenga un degradado de colores*/
  position: relative; /*para que el hero sea relativo*/
  display: grid; /*para que los elementos del hero se acomoden en grid*/
  grid-template-columns: 1fr 1fr; /*para que los elementos del hero se acomoden en dos columnas*/
  align-items: center; /*para que los elementos del hero se acomoden en el centro verticalmente*/
  gap: 2rem; /*para que los elementos del hero tengan un espacio de 2rem entre ellos*/
}

section {
  padding: 0 8%; /*para que el section tenga un padding de 0 arriba y abajo y 8% a los lados*/
}

.hero-text h5 {
  font-size: 14px; /*tamaño de la letra*/
  font-weight: 400; /*grosor de la letra*/
  margin-bottom: 25px; /*para que el elemento tenga un margen abajo de 25px*/
}

.hero-text h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 50px; /*tamaño de la letra*/
  line-height: 1;
  margin: 0 0 30px; /*para que el elemento tenga un margen abajo de 30px*/
}

.hero-text h4 {
  font-size: 18px; /*tamaño de la letra*/
  font-weight: 600; /*grosor de la letra*/
  margin-bottom: 10px; /*para que el elemento tenga un margen abajo de 25px*/
}

.hero-text p {
  font-size: 80%; /*tamaño de la letra con respecto del contenedor padre, aunque achiquemos la pagina*/
  margin-bottom: 40px; /*para que el elemento tenga un margen abajo de 40px*/
  line-height: 1.9; /*para que el elemento tenga un line-height de 1.9*/
}

.hero-img img {
  width: 400px; /*para que la imagen del hero tenga un ancho de 400px*/
  margin: 10% 0 10% 0;
  height: auto; /*para que la imagen del hero tenga un alto automático*/
  transition: all 4s linear; /*para que la transición de la imagen del hero sea de 5s*/
}

.hero-img img:hover {
  width: 450px; /*para que la imagen del hero tenga un ancho de 450px al pasar el mouse*/
  opacity: 0.6; /*para que la imagen del hero tenga una opacidad de 0.6 al pasar el mouse*/
}

.hero-text a {
  display: inline-block; /*sigue siendo inline pero permite que se le pueda dar un alto y un ancho*/
  background-color: #4d4d4d;
  border: 1px solid transparent;
  padding: 15px 30px; /*para que el elemento tenga un padding de 15px arriba y abajo y 30px a los lados*/
  line-height: 1.4; /*para que el elemento tenga un line-height de 1.4*/
  font-size: 14px; /*tamaño de la letra*/
  font-weight: 500; /*grosor de la letra*/
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.5s ease; /*para que la transición del elemento sea de 0.5s*/
}

.hero-text a:hover {
  background-color: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.hero-text .portfolio {
  background-color: transparent;
  border: 1px solid white;
  transform: translateX(8px);
  margin-left: 20px;
}

.hero-text a i {
  vertical-align: middle;
  margin-right: 5px;
}
