/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 700 */

/* font-family: "Roboto Mono", serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*para que el padding y margin no afecten el tamaño del elemento*/
  font-family: "Times New Roman", Times, serif; /*fuente de letra*/
  list-style: none; /*remueve los puntos de la lista*/
  text-decoration: none; /*remueve el subrayado de los links*/
  color: white;
}

body {
  background-color: #1a1a1a; /*todo: cambiar color de fondo*/
}

header {
  position: fixed; /*para que el header se quede fijo en la parte superior de la pantalla*/
  right: 0;
  top: 0;
  z-index: 100; /*para que el header esté por encima de todo*/
  width: 100%; /*para que el header ocupe todo el ancho de la pantalla*/
  display: flex; /*para que los elementos del header se acomoden en fila*/
  align-items: center; /*para que los elementos del header se acomoden en el centro verticalmente*/
  justify-content: space-between; /*para que los elementos del header se acomoden en los extremos*/
  padding: 15px 3%; /*para que el header tenga un padding de 15px arriba y abajo y 3% a los lados*/
  background-color: transparent; /*para que el header sea transparente*/
}

.logo {
  font-size: 30px; /*tamaño de la letra*/
  font-weight: 800; /*grosor de la letra*/
}

.navlist {
  display: flex; /*para que los elementos del nav se acomoden en fila*/
}

.navlist a {
  margin-left: 60px; /*para que los elementos del nav tengan un margen a la izquierda de 60px*/
  font-size: 15px; /*tamaño de la letra*/
  font-weight: 600; /*grosor de la letra*/
  border-bottom: 2px solid transparent; /*para que los elementos del nav tengan un borde de 2px abajo transparente*/
  transition: all 0.5s ease; /*para que la transición de los elementos del nav sea de 0.5s*/
}

.navlist a:hover {
  border-bottom: 2px solid white; /*para que los elementos del nav tengan un borde de 2px abajo blanco al pasar el mouse*/
}

/*#menu-icon {
  display: none; para que el icono del menú no se muestre

}*/

#menu-icon {
  font-size: 35px;
  z-index: 101; /*para que el icono del menú esté por encima del header*/
  cursor: pointer;
}

#menu-toggle {
  display: none; /*para que el checkbox nunca se muestre*/
}

.menu-icon-action {
  display: none; /*para que el icono del menú no se muestre*/
}

/* INVENTO*/
.hero {
  height: 100%; /*para que el hero ocupe todo el alto de la pantalla*/
  width: 100%; /*para que el hero ocupe todo el ancho de la pantalla*/
  min-height: 100vh; /*para que el hero ocupe mínimo el 100% del alto de la pantalla*/
  background: linear-gradient(
    245.59deg,
    #31494e 0%,
    #385e70 25%,
    #131313 75%
  ); /*para que el hero tenga un degradado de colores*/
  position: relative; /*para que el hero sea relativo*/
  display: grid; /*para que los elementos del hero se acomoden en grid*/
  grid-template-columns: 1fr 1fr; /*para que los elementos del hero se acomoden en dos columnas*/
  align-items: center; /*para que los elementos del hero se acomoden en el centro verticalmente*/
  gap: 2rem; /*para que los elementos del hero tengan un espacio de 2rem entre ellos*/
}

section {
  padding: 0 8%; /*para que el section tenga un padding de 0 arriba y abajo y 8% a los lados*/
}
